@font-face {
  font-family: 'Roboto';
  src: url("https://test.airweb.studio/barni/fonts/Roboto-Bold.eot");
  src: url("https://test.airweb.studio/barni/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("https://test.airweb.studio/barni/fonts/Roboto-Bold.woff2") format("woff2"), url("https://test.airweb.studio/barni/fonts/Roboto-Bold.woff") format("woff"), url("https://test.airweb.studio/barni/fonts/Roboto-Bold.ttf") format("truetype"), url("https://test.airweb.studio/barni/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test.airweb.studio/barni/fonts/Roboto-Medium.eot");
  src: url("http://test.airweb.studio/barni/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("http://test.airweb.studio/barni/fonts/Roboto-Medium.woff2") format("woff2"), url("http://test.airweb.studio/barni/fonts/Roboto-Medium.woff") format("woff"), url("http://test.airweb.studio/barni/fonts/Roboto-Medium.ttf") format("truetype"), url("http://test.airweb.studio/barni/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test.airweb.studio/barni/fonts/Roboto-Regular.eot");
  src: url("http://test.airweb.studio/barni/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("http://test.airweb.studio/barni/fonts/Roboto-Regular.woff2") format("woff2"), url("http://test.airweb.studio/barni/fonts/Roboto-Regular.woff") format("woff"), url("http://test.airweb.studio/barni/fonts/Roboto-Regular.ttf") format("truetype"), url("http://test.airweb.studio/barni/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.eot");
  src: url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.woff") format("woff"), url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("https://test.airweb.studio/barni/fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

.upload h2 {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 28px;
  text-align: center;
  color: #14bef0;
}

.upload .img-thumbnail {
  max-height: 280px;
  border: 5px solid #e6e6e6;
}

.upload .receipt-photo {
  margin-top: 10px;
  text-align: center;
}

.upload .choose-file {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #14bef0;
  font-size: 16px;
  color: #ffffff;
  min-width: 263px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  padding: 15px;
  border: none;
}

.upload #upload {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #ed1846;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #ffffff;
  font-size: 24px;
  min-width: 263px;
  padding: 26px 20px;
  border: none;
}

.upload #upload:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}

.tutorial h1 {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 28px;
  text-align: center;
  color: #14bef0;
}

.tutorial p {
  text-align: center;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.tutorial .simple-photo-block {
  text-align: center;
}

.tutorial .simple-photo-block img {
  max-height: 280px;
  border: 5px solid #e6e6e6;
}

.tutorial .btn {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #ed1846;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #ffffff;
  font-size: 24px;
  min-width: 263px;
  padding: 26px 20px;
  border: none;
  margin-top: 30px !important;
}

.tutorial .btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}
