@font-face {
  font-family: 'Firenight';
  src: url("http://test4.airweb.studio/barni/fonts/Firenight-Regular.eot");
  src: url("http://test4.airweb.studio/barni/fonts/Firenight-Regular.eot?#iefix") format("embedded-opentype"), url("http://test4.airweb.studio/barni/fonts/Firenight-Regular.woff2") format("woff2"), url("http://test4.airweb.studio/barni/fonts/Firenight-Regular.woff") format("woff"), url("http://test4.airweb.studio/barni/fonts/Firenight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.eot");
  src: url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.woff2") format("woff2"), url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.woff") format("woff"), url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.ttf") format("truetype"), url("http://test4.airweb.studio/barni/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  padding: 0 .5em;
  margin-bottom: 20px;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;
}

.upload h2 {
  display: none;
}

.upload .receipt-photo {
  margin-top: 10px;
  text-align: center;
}

.upload .upload-main {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.upload .choose-file {
  margin: 0 auto;
  text-align: center;
  color: #ff9503;
  font-family: 'Firenight';
  font-size: 21px;
  background-color: #fff;
  border-color: #fff;
  position: relative;
}

.upload .choose-file input {
  visibility: hidden;
  display: none;
}

.upload .choose-file:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/plus-svg.svg") no-repeat;
}

#image-list {
  margin-bottom: 20px;
}

#image-list .btn-danger {
  color: rgba(255, 255, 255, 0);
  font-size: 0px;
  padding: 20px;
  background-color: rgba(201, 48, 44, 0);
  border-color: rgba(172, 41, 37, 0);
}

#image-list .btn-danger:hover {
  background-color: rgba(201, 48, 44, 0);
  border-color: rgba(172, 41, 37, 0);
}

#image-list .delete-photo {
  margin: .1em;
}

#image-list .delete-photo:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  background: url("../img/Rectangle_little.svg") no-repeat;
  width: 40px;
  height: 43px;
  cursor: pointer;
}

#image-list .delete-photo:before {
  color: rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  background: url("../img/close-popup.svg") no-repeat;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

#upload {
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../img/btn-bg.svg") no-repeat center;
  color: #ffffff;
  background-color: #fff !important;
  font-size: 24px;
  font-family: 'Firenight';
  width: 275px;
  height: 85px;
  border: none;
  margin-top: 30px !important;
  padding: 0;
  outline: none;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
}

.btn-lg {
  padding: 0;
  -webkit-border-radius: none;
          border-radius: none;
}

.tutorial {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;
}

.tutorial h1 {
  display: none;
}

.tutorial p {
  color: #363636;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 25px;
  padding-left: 30px;
}

.tutorial .simple-photo-block {
  text-align: center;
}

.tutorial .simple-photo-block img {
  max-height: auto;
  max-width: 100%;
}

.tutorial .btn {
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../img/btn-bg.svg") no-repeat center;
  color: #ffffff;
  background-color: #fff !important;
  font-size: 24px;
  font-family: 'Firenight';
  width: 275px;
  height: 85px;
  border: none;
  margin-top: 30px !important;
  outline: none;
  padding: 0;
}

.mt-3 {
  display: none;
}

@media (max-width: 480px) {
  .upload .choose-file {
    font-size: 18px;
  }
  .upload #upload {
    width: 250px;
    font-size: 21px;
  }
  .tutorial .btn {
    width: 250px;
    font-size: 21px;
  }
}
