/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font: 400 16px "Firenight", sans-serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

label {
  margin: 0;
}

input,
button,
select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.height-helper {
  overflow: hidden;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Firenight';
  src: url("../fonts/Firenight-Regular.eot");
  src: url("../fonts/Firenight-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Firenight-Regular.woff2") format("woff2"), url("../fonts/Firenight-Regular.woff") format("woff"), url("../fonts/Firenight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?m4ow0i");
  src: url("../fonts/icomoon/icomoon.eot?m4ow0i#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?m4ow0i") format("truetype"), url("../fonts/icomoon/icomoon.woff?m4ow0i") format("woff"), url("../fonts/icomoon/icomoon.svg?m4ow0i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-area:before {
  content: "\e903";
  color: #e1e1e1;
}

.icon-edit-icon:before {
  content: "\e904";
  color: #fff;
}

.icon-vk:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e900";
}

.icon-youtube:before {
  content: "\e902";
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 970px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: inline-block;
}

.header {
  background-color: #fff;
  padding: 27px 0;
  position: relative;
  z-index: 3;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
}

.menu-wrap__close {
  display: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
}

.menu-wrap__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.close-menu {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.close-menu__line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  right: 0;
  width: 18px;
  height: 4px;
  background-color: #fff;
}

.close-menu__line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav-link {
  font-weight: 500;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  color: #ff3b00;
}

.nav-link + .nav-link {
  margin-left: 40px;
}

.nav-link:hover {
  color: #2faae1;
}

.nav-link_active {
  color: #2faae1;
}

.personal-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 40px;
}

.personal-area__text {
  font-weight: bold;
  color: #ff3b00;
}

.personal-area__text:hover {
  color: #2faae1;
}

.logo_center {
  margin: -14px 30px;
}

.logo_center img {
  margin-bottom: -105px;
}

.logo_mob {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mob-menu {
  display: none;
  width: 20px;
  height: 18px;
  position: relative;
  cursor: pointer;
  margin-left: 25px;
}

.mob-menu__line {
  height: 4px;
  background-color: #ff5600;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.mob-menu__line:before, .mob-menu__line:after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ff5600;
}

.mob-menu__line:after {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.footer {
  background-color: #2faae1;
  padding: 20px 0 25px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.footer__nav li + li {
  margin-left: 30px;
}

.footer__social {
  margin-top: 20px;
  text-align: center;
}

.footer__social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
}

.footer__social a span {
  color: #2faae1;
  font-size: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.footer__social a + a {
  margin-left: 10px;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #0e4da1;
  padding: 25px 0 20px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
}

.cookies__text {
  margin: 0 auto 10px;
  width: 76%;
  font-size: 14px;
}

.cookies.js-show {
  opacity: 1;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__close {
  position: absolute;
  top: -20px;
  right: -30px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.popup__wrap {
  background-color: #fff;
  max-width: 340px;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.popup__wrap:before {
  content: "";
  height: 35px;
  background-color: #fff;
  left: 0;
  right: 0;
  top: -15px;
  position: absolute;
  -webkit-transform: skewY(-3deg);
      -ms-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.popup__wrap:after {
  content: "";
  height: 35px;
  background-color: #fff;
  bottom: -15px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
          transform: skewY(4deg);
}

.popup__wrap_big {
  max-width: 375px;
}

.popup__title {
  text-transform: uppercase;
  font-size: 24px;
  color: #ff5600;
}

.popup__title_winners {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-right: 16px;
  font-size: 21px;
}

.popup__text {
  color: #363636;
  font-family: "Roboto", sans-serif;
}

.popup__text_marginTop {
  margin-top: 30px;
  margin-bottom: 25px;
}

.popup__text_paddingBottom {
  padding-bottom: 30px;
}

.popup__text + .btn.pos-absol {
  bottom: -60px;
}

.js-popup-show {
  z-index: 99999;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

span div.error {
  color: #ed1846;
  font-size: 11px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
}

body > .select2-container {
  width: auto !important;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 99999;
}

.select2-container * {
  outline: none;
}

.select2-container .select2-selection {
  height: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #acacac;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 21px;
  font-family: "Roboto";
  padding: 12px 15px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.select2-container .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
  width: 38px !important;
}

.select2-container .select2-selection__arrow::before {
  border: none;
  background: url("../img/arrow-for-select.svg") no-repeat center/cover;
  width: 11px;
  height: 6px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.select2-container .select2-dropdown {
  border: 1px solid #acacac;
}

.select2-container .select2-dropdown_active {
  border: 1px solid #ff9503;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-top: 3px;
}

.select2-container .select2-dropdown_active .select2-results__option {
  font-family: "Firenight", sans-serif;
  color: #ff5600;
  font-size: 21px;
}

.select2-container .select2-dropdown_active .select2-results__option--highlighted[aria-selected] {
  background-color: #fff;
  color: #ff9503 !important;
}

.select2-container .select2-dropdown_active .select2-results__option[aria-selected=true] {
  background-color: #fff !important;
}

.select2-container .select2-results__option {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
}

.your-info-1 .select2-container .select2-selection {
  width: 80px;
}

.your-info-1 .select2-container .select2-selection__arrow {
  width: 20px !important;
}

.reg-step-21 .select2-container .select2-selection {
  width: 80px;
}

.reg-step-21 .select2-container .select2-selection__arrow {
  width: 20px !important;
}

.checkbox {
  position: relative;
  padding: 7px 0;
  display: block;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  color: #363636;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.checkbox__text a {
  color: #ff9503;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #acacac;
  left: 0;
  top: -4px;
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center/cover;
  width: 13px;
  height: 12px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center/cover;
  width: 13px;
  height: 12px;
  left: 4px;
  top: 0;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
}

.btn {
  font-size: 2rem;
  background: rgba(255, 255, 255, 0);
  position: relative;
  display: inline-block;
  font-family: "Firenight", sans-serif;
  color: #fff;
  height: 80px;
  padding: 0;
}

.btn.pos-absol {
  position: absolute;
  bottom: -75px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn.btn_little-absol {
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn.btn_personal {
  height: auto;
  top: 5px;
}

.btn.btn_personal:hover {
  color: #fff;
}

.btn.btn_personal svg {
  width: 140px;
}

.btn__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 12px;
}

.btn__text_arr-right {
  white-space: nowrap;
  padding-right: 36px;
  font-size: 1.75rem;
}

.btn__text_arr-right:after {
  content: '';
  background: url("../img/arrow-right-red.svg");
  position: absolute;
  -webkit-background-size: 26px 23px;
          background-size: 26px 23px;
  right: 0;
  top: 42%;
  width: 26px;
  height: 23px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.btn__text_little {
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 5px;
}

.btn_min {
  height: auto;
}

.btn svg {
  width: 260px;
}

.btn svg use {
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover svg {
  transotion: all .1s ease;
}

.btn:hover svg use {
  fill: #ff5600;
}

.btn:hover .btn__text_arr-right:after {
  background: url("../img/arrow-right-white.svg");
}

.btn.disable {
  pointer-events: none;
}

.btn.disable svg use {
  fill: #e1e1e1;
}

.btn.disable .btn__text_arr-right:after {
  background: url("../img/arrow-right-white.svg");
}

.btn_delete {
  display: none;
}

.form {
  position: relative;
  z-index: 1;
}

.form--popupMargin {
  margin-top: 20px;
}

.form__tips {
  color: #acacac;
  font-size: 14px;
  margin-bottom: 2px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%;
}

.form__text {
  margin-top: 20px;
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.form__text--minMargin {
  margin-top: 10px;
}

.form__text--noMargin {
  margin: 0;
}

.form__text_big .text {
  font-size: 1.2rem;
}

.form__text.red {
  color: #ff5600;
}

.form__card {
  margin-top: 20px;
  padding: 0 20px;
}

.form__card_last {
  padding: 0 20px 35px;
}

.form__card_half {
  display: inline-block;
  width: 49%;
  padding: 0 15px;
  vertical-align: top;
}

.form__card_third {
  width: 80px;
  display: inline-block;
  padding: 0 0 30px 0;
  vertical-align: top;
}

.form__input {
  position: relative;
}

.form__input .js-pass {
  position: absolute;
  width: 25px;
  height: 15px;
  background: url("../img/password-show.svg") no-repeat center/cover;
  top: 19px;
  right: 10px;
  cursor: pointer;
}

.form__input_little .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  padding-right: 15px;
}

.form__input_winners {
  width: 27%;
  text-align: left;
}

.form__input_winners .select2-container {
  width: 140px !important;
}

.form__input_winners .select2-container .select2-selection {
  border: none;
  font-family: "Firenight", sans-serif;
  background: url("../img/border_for_select.svg") no-repeat center bottom;
}

.form__input_winners .select2-selection__rendered {
  padding-right: 10px !important;
  color: #ff5600 !important;
}

.form__step {
  color: #ff5600;
  text-align: center;
  font-size: 18px;
}

.form__global {
  width: 45%;
}

.form .btn {
  font-size: 2rem;
  margin-top: 1rem;
}

.textarea-feedback {
  width: 100%;
  height: 229px;
}

input,
textarea {
  border: 1px solid #acacac;
  background-color: #ffffff;
  color: #4a4a4a;
  text-align: center;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  padding: 12px 15px;
  width: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #363636;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #363636;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #363636;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #363636;
}

input::placeholder,
textarea::placeholder {
  color: #363636;
}

textarea {
  text-align: left;
  height: 100px;
  overflow: auto;
}

.captcha {
  margin: 20px -50px 0;
  padding: 15px 85px 40px;
}

.captcha__wrap {
  margin-top: 15px;
}

.captcha__input {
  max-width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
}

.captcha__input::-webkit-input-placeholder {
  color: #e1e1e1;
}

.captcha__input::-moz-placeholder {
  color: #e1e1e1;
}

.captcha__input:-ms-input-placeholder {
  color: #e1e1e1;
}

.captcha__input::-ms-input-placeholder {
  color: #e1e1e1;
}

.captcha__input::placeholder {
  color: #e1e1e1;
}

.captcha__img {
  height: 51px;
  background-color: #000;
}

.text {
  text-align: center;
  color: #ff9503;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.text--minMargin {
  margin-top: 10px;
}

.text__black {
  color: #363636;
}

.title {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 15px;
}

thead th {
  text-align: center;
  color: #14bef0;
  font-size: 12px;
}

tbody td {
  text-align: center;
  color: #363636;
}

.rules {
  margin-top: 35px;
  margin-bottom: 20px;
}

.rules-btn {
  display: none;
  background-image: url("../img/arrow-for-slider.png");
  top: 35%;
  right: 0;
}

.rules-btn + .rules-btn {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
  left: 0;
}

.rules-swiper {
  width: 100%;
  position: relative;
}

.rules-swiper_winners {
  max-width: 610px;
}

.rules .container {
  text-align: center;
}

.rules .btn {
  margin: 2rem 0;
}

.rules__title, .substrate__title {
  color: #2faae1;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.slide-rules {
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  color: #2faae1;
}

.slide-rules__photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-rules__photo_winners {
  height: 165px;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.slide-rules__title {
  font-family: "Firenight", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 10px;
}

.slide-rules__title_little {
  font-size: 16px;
  margin-top: 0;
}

.slide-rules__text {
  margin-top: 15px;
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
}

.slide-rules:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.conditions, .feedback, .winners, .personal-heading {
  background: url("../img/bg-img-home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
}

.conditions__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 320px;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
  margin-left: -19%;
  margin-right: -19%;
  z-index: 1;
}

.conditions__img img {
  display: block;
}

.conditions__info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 320px;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
  max-width: 550px;
  text-align: center;
}

.conditions__content {
  background: url("../img/conditions-content-bg.svg") no-repeat center center;
  height: 470px;
  position: relative;
}

.conditions__content:before {
  content: '';
  background: url("../img/conditions-ananas-1.png") no-repeat center center;
  width: 107px;
  height: 109px;
  position: absolute;
  right: -7%;
  top: 11%;
}

.conditions__content:after {
  content: '';
  background: url("../img/conditions-ananas-2.png") no-repeat center center;
  width: 341px;
  height: 349px;
  position: absolute;
  right: -35%;
  bottom: -9%;
}

.conditions__date {
  color: #2faae1;
  font-family: "Roboto", sans-serif;
}

.conditions__step {
  color: #2faae1;
  font-size: 1.85rem;
  text-align: left;
}

.conditions__step li {
  position: relative;
  margin-bottom: 0.7rem;
}

.conditions__step li:before {
  content: '';
  background: url("../img/li-numb.png") no-repeat center center;
  position: absolute;
  left: -44px;
  font-size: 25px;
  top: 0px;
  width: 30px;
  height: 35px;
  text-align: center;
  color: white;
}

.conditions__step li:nth-child(1) {
  margin-left: 18%;
}

.conditions__step li:nth-child(1)::before {
  content: '1';
}

.conditions__step li:nth-child(2) {
  margin-left: 25%;
}

.conditions__step li:nth-child(2)::before {
  content: '2';
}

.conditions__step li:nth-child(3) {
  margin-left: 33%;
}

.conditions__step li:nth-child(3)::before {
  content: '3';
}

.condition-text {
  font-size: 40px;
}

.conditions__more-btn {
  font-family: "Roboto", sans-serif;
}

.conditions__more-btn img {
  margin-top: 9px;
}

.container-info {
  color: #acacac;
  font-family: Roboto;
  font-size: 12px;
  margin-top: 40px;
}

.container-info__text {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container-info_feedback {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 100px;
}

.container-info_feedback a {
  color: #ff9503;
  cursor: pointer;
}

.info-text-up {
  text-transform: uppercase;
}

.feedback, .winners, .personal-heading {
  min-height: 779px;
  position: relative;
  height: 100%;
}

.feedback:before, .winners:before, .personal-heading:before {
  content: "";
  position: absolute;
  bottom: -22%;
  left: 0;
  width: 512px;
  height: 696px;
  background: url("../img/pulpy-bottle1.png") no-repeat center center;
}

.feedback:after, .winners:after, .personal-heading:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -2%;
  width: 401px;
  height: 709px;
  background: url("../img/pulpy-bottle2.png") no-repeat center center;
}

.container_feedback, .container_winners {
  margin: 115px auto;
}

.substrate {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.substrate:before {
  content: "";
  height: 55px;
  background-color: #fff;
  left: 0;
  right: 0;
  top: -30px;
  position: absolute;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.substrate:after {
  content: "";
  height: 55px;
  background-color: #fff;
  bottom: -30px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(3deg);
      -ms-transform: skewY(3deg);
          transform: skewY(3deg);
}

.winners, .personal-heading {
  min-height: 930px;
}

.winners:before, .personal-heading:before {
  bottom: 0;
}

.winners__table {
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  height: 250px;
  color: #363636;
}

.winners__table tr {
  line-height: 30px;
}

.rules-wrap {
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rules-item {
  width: 32%;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  width: 8px;
}

.scrollbar-light > .scroll-element .scroll-element_outer {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.scrollbar-light > .scroll-element div {
  overflow: visible;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_size {
  left: 1px;
}

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #eeeeee;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.scrollbar-light > .scroll-element .scroll-bar {
  background: #ff9503;
  background: -webkit-linear-gradient(45deg, transparent 15px, #ff9503 0);
  background: -o-linear-gradient(45deg, transparent 15px, #ff9503 0);
  background: linear-gradient(45deg, transparent 15px, #ff9503 0);
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
}

.personal-heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-heading {
  margin-top: 90px;
  margin-bottom: 60px;
  padding: 0;
  width: 100%;
  max-width: 780px;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-heading__name {
  font-size: 28px;
  letter-spacing: 1.12px;
  margin-bottom: 14px;
  padding-left: 90px;
  position: relative;
}

.start-heading__name:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 70px;
  height: 70px;
  background: url("../img/Avatar.png");
}

.start-heading__edit {
  padding-left: 90px;
  font-family: "Roboto", sans-serif;
}

.personal-info {
  margin-bottom: 100px;
}

.info-edit {
  margin-right: 35px;
}

.icon-edit-icon {
  margin-right: 10px;
}

.personal-check-wrap {
  max-width: 515px;
  width: 100%;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  color: #363636;
}

.check-data {
  margin-bottom: 30px;
}

.check-data__info-check {
  width: 35%;
}

.check-data__arrow {
  width: 25%;
}

.check-data__result {
  width: 40%;
  text-align: left;
}

.info-check-wrapp__result_err {
  padding-right: 30px;
  position: relative;
  color: #ff5600;
}

.info-check-wrapp__result_err a {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ff5600;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  color: #fff;
}

.info-check-wrapp {
  text-align: left;
  margin-left: 10px;
}

.btn_personal_text {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 100px;
  border: 1px solid #ff9503;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 46%;
  background: #fff;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file input {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.file div {
  height: 42px;
}

.file__text {
  color: #ff9503;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

.file svg {
  width: 108px;
}

.file span {
  position: absolute;
  bottom: -58px;
}

.file__text_none {
  opacity: 0;
}

.iframe-wrapper {
  height: 60vh;
  min-height: 250px;
  width: 340px;
}

#iframe {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .menu-wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .menu-wrap__nav {
    margin-left: 5px;
  }
  .nav-link + .nav-link {
    margin-left: 12px;
  }
  .logo_center {
    margin: -14px 0 -14px 0;
  }
  .logo img {
    margin-bottom: -100px;
    margin-left: -10px;
  }
  .personal-area {
    margin-left: 0;
  }
  .conditions_container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .conditions__img {
    margin-left: -30%;
  }
  .conditions__info {
    margin: 50px 0;
    z-index: 1;
  }
  .conditions__content:after {
    display: none;
  }
  .conditions__content:before {
    right: 0%;
  }
  .feedback:after, .winners:after, .personal-heading:after {
    display: none;
  }
  .feedback:before, .winners:before, .personal-heading:before {
    display: none;
  }
  .start-heading {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .bg-opacity {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bg-opacity_active {
    display: block;
  }
  .menu-wrap {
    background-color: #ff5600;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    -webkit-transform: translateX(101%);
        -ms-transform: translateX(101%);
            transform: translateX(101%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .menu-wrap__close {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-wrap__logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    background-color: #fff;
    padding: 25px 25px 30px;
  }
  .menu-wrap__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding: 10px 0;
  }
  .menu-wrap__nav .logo {
    display: none;
  }
  .menu-wrap_active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-link {
    color: #fff;
    padding: 12px 25px;
    font-size: 24px;
    letter-spacing: .96px;
    margin-bottom: 15px;
  }
  .nav-link + .nav-link {
    margin-left: 0;
  }
  .nav-link:hover {
    background-color: #ff9503;
    color: #fff;
  }
  .logo_mob {
    display: block;
  }
  .logo_mob img {
    margin-bottom: -95px;
    margin-left: 0;
  }
  .mob-menu {
    display: block;
  }
  .conditions_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .conditions__img {
    margin-left: 0%;
    margin-right: 0%;
    position: absolute;
    top: -75px;
    left: 5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .conditions__info {
    margin: 270px 0 30px;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .conditions__content:before {
    display: none;
  }
  .conditions__step {
    font-size: 1.7rem;
  }
  .condition-text {
    font-size: 35px;
  }
  .rules-item_index {
    width: 50%;
  }
  .rules-item_index:last-child {
    margin-top: 25px;
  }
  .rules-btn {
    display: block;
  }
  .rules-swiper_winners {
    max-width: 405px;
  }
  .swiper-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slide-rules_winners {
    width: 100%;
    max-width: 225px;
    margin: 0 auto;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li {
    margin-bottom: 25px;
  }
  .footer__nav li + li {
    margin-left: 0;
  }
  .footer__nav li:last-child {
    margin-bottom: 10px;
  }
  .form_feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__global_feedback {
    width: 100%;
  }
  .container-info_feedback {
    padding: 0;
  }
  .winners, .personal-heading {
    min-height: 900px;
  }
  .winners__table {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 190px;
  }
  .winners__table table {
    font-size: 12px;
  }
  .winners .table--padding, .personal-heading .table--padding {
    border-spacing: 4px;
    margin-top: -4px;
  }
  .check-data__info-check {
    width: 43%;
  }
  .check-data__arrow {
    width: 10%;
  }
  .check-data__result {
    text-align: center;
  }
  .start-heading {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 30%;
    margin-right: 10px;
  }
  .logo img {
    margin-bottom: -75px;
    margin-left: -10px;
  }
  .conditions_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 0;
  }
  .conditions__img {
    left: 22%;
    top: -65px;
    margin-left: -30%;
  }
  .conditions__info {
    margin: 175px 0 30px;
  }
  .conditions__content {
    background: url("../img/conditions-content-bg-mob.svg") no-repeat center center;
    height: 370px;
  }
  .conditions__title {
    width: 65%;
    margin: 10px auto;
  }
  .conditions__step {
    font-size: 1.1rem;
  }
  .conditions__step li:nth-child(1) {
    margin-left: 23%;
  }
  .conditions__step li:nth-child(2) {
    margin-left: 28%;
  }
  .conditions__step li:nth-child(3) {
    margin-left: 34%;
  }
  .condition-text {
    font-size: 26px;
  }
  .conditions__more-btn {
    margin-top: 15px;
  }
  .rules-wrap_index {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rules-item_index {
    width: 100%;
    margin-top: 25px;
  }
  .rules-item_index:first-child {
    margin-top: 0;
  }
  .rules__title, .substrate__title {
    font-size: 2rem;
  }
  .popup__wrap {
    max-width: 300px;
  }
  .popup__close {
    top: -50px;
    right: 50%;
    margin-right: -11px;
  }
  .form__card {
    padding-left: 0;
    padding-right: 0;
  }
  .captcha {
    padding: 15px 50px 40px;
  }
  .iframe-wrapper {
    width: 290px;
  }
  .popup__wrap_big {
    padding-left: 0;
    padding-right: 0;
  }
  .feedback .container, .winners .container, .personal-heading .container {
    padding: 0;
  }
  .form_feedback {
    padding: 0 15px;
  }
  .container-info_feedback {
    padding: 0 15px;
  }
  .winners__table {
    height: 220px;
  }
  .winners__table .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    font-size: 16px;
    line-height: normal;
  }
  .winners__table .table tr + tr {
    margin-top: 20px;
  }
  .winners__table .table td {
    display: block;
  }
  .winners__table .table .win-prize {
    position: absolute;
    right: 5px;
    top: 0;
    text-align: left;
    max-width: 102px;
  }
  .popup__title_winners {
    margin-right: 10px;
  }
  .form__input_winners {
    width: auto;
  }
  .check-data__info-check {
    width: 42%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .check-data__arrow {
    width: 10%;
  }
  .check-data__result {
    width: 45%;
  }
  .info-check-wrapp {
    margin-left: 0;
  }
  .personal-heading .start-heading {
    padding: 0 15px;
  }
  .start-heading {
    margin-top: 90px;
  }
  .start-heading__name {
    width: 85%;
    margin-bottom: 25px;
  }
  .start-heading__edit {
    padding: 0;
  }
}
