<footer class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li><a href="#">Пользовательское соглашение</a></li>
            <li><a href="#">Правила акции</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>            
        </ul>
        <div class="footer__social">
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-youtube"></span></a>
            <a href="#"><span class="icon-vk"></span></a>
        </div>
    </div>
</footer>