<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="bg-opacity"></div>
            <div class="logo logo_mob logo_center">
                <img src="../img/logo-pulpy.png" alt="">
            </div>
            <div id="menu-wrap" class="flex-cont menu-wrap">
                <div class="menu-wrap__close flex-cont">
                    <div class="close-menu">
                        <span class="close-menu__line"></span>
                    </div>
                </div>
                <div class="menu-wrap__logo">
                    <img src="../img/magnit-logo.png" alt="">
                </div>
                <nav class="menu-wrap__nav">
                    <a class="nav-link nav-link_active" href="index.html">Главная</a>
                    <a class="nav-link" href="winners.html">Победители</a>
                    <div class="logo logo_center">
                        <img src="../img/logo-pulpy.png" alt="">
                    </div>
                    <a class="nav-link" href="personal-area.html">Правила</a>
                    <a class="nav-link" href="feedback.html">Обратная связь</a>
                </nav>
            </div>
            <div class="personal-area js-popup-button" data-popupShow="entrance">
                <div class="personal-area__text">
                    <span>Личный кабинет</span>
                </div>
            </div>
            <div id="mob-menu" class="mob-menu">
                <span class="mob-menu__line"></span>
            </div>
        </div>
    </div>
</header>
