<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn_min">Принять</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Авторизация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass"></i>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text--minMargin">
                    <a href="#">Забыл пароль?</a>
                </div>
                <button type="submit" class="btn">
                    <div class="btn__text">Войти</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
                <div class="form__text form__text_big">
                    <p>Впервые на сайте?</p>
                    <div class="text">
                        <a href="#" class="js-popup-button" data-popupShow="reg-step-1">Зарегистрируйся!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup reg-step-1">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Заполни, пожалуйста, все поля формы регистрации</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия и Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name" value="Аделаида Василевская">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Город</span>
                    </div>
                    <div class="form__input">
                        <select>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                        </select>
                    </div>
                </div>
                <div class="form__card">
                    <label class="checkbox">
                                <input type="checkbox" name="rules" required/>
                                <div class="checkbox__text">Я согласен c <a href="#">Правилами акции</a></div>
                            </label>
                    <label class="checkbox">
                                <input type="checkbox" name="personalAgreement" required/>
                                <div class="checkbox__text">Я согласен на обработку моих персональных данных</div>
                            </label>
                </div>
                <div class="captcha">
                    <div class="form__tips form__text--noMargin">
                        <p>Введи символы с картинки:</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img">
                            <img src="img/captcha.jpg" alt="">
                        </div>
                        <input class="captcha__input" type="text" placeholder="xxxxx" name="captcha" required>
                    </div>
                </div>
                <button type="submit" class="btn pos-absol">
                    <div class="btn__text">ОК</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup reg-step-2">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Завершить регистрацию</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Введи, пожалуйста, пароль, который мы отправили на твой телефон по СМС</p>
                </div>
                <div class="form__card form__card_last">
                    <div class="form__tips">
                        <span>Парль из смс</span>
                    </div>
                    <div class="form__input">
                        <input type="text" required>
                    </div>
                </div>
                <button type="submit" class="btn pos-absol">
                    <div class="btn__text">Отправить</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup your-info-1">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Указать данные</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 1 из 3</span>
                </div>
                <div class="form__text">
                    <p>Чтобы мы могли отправить тебе приз, внимательно заполни форму</p>
                </div>
                <div class="form__text red form__text--minMargin">
                    <p>Все поля обязательны для заполнения!</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Отчество</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
                </div>
                <div class="form__card flex-cont justify-sb">
                    <div class="form__tips">
                        <span>Дата рождения</span>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>1985</option>
                            <option>1986</option>
                            <option>1987</option>
                            <option>1988</option>
                            <option>1989</option>
                            <option>1990</option>
                        </select>
                    </div>
                </div>
                <div class="form__globalCard">
                    <div class="form__card form__card_last">
                        <div class="form__tips">
                            <span>Адрес (как в паспорте)</span>
                        </div>
                        <div class="form__input">
                            <textarea required></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn pos-absol">
                    <div class="btn__text">Дальше</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup reg-step-21">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Указать данные</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 2 из 3</span>
                </div>
                <div class="form__text">
                    <p>Для отправки приза нам нужны твои паспортные данные и ИНН</p>
                </div>
                <div class="form__text red form__text--minMargin">
                    <p>Все поля обязательны для заполнения!</p>
                </div>
                <div class="form__card form__card_half">
                    <div class="form__tips">
                        <span>Серия паспорта</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card form__card_half">
                    <div class="form__tips">
                        <span>Номер паспорта</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card flex-cont justify-sb">
                    <div class="form__tips">
                        <span>Дата выдачи паспорта</span>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>1985</option>
                            <option>1986</option>
                            <option>1987</option>
                            <option>1988</option>
                            <option>1989</option>
                            <option>1990</option>
                        </select>
                    </div>
                </div>
                <div class="form__globalCard">
                    <div class="form__card">
                        <div class="form__tips">
                            <span>Кем выдан (как в паспорте)</span>
                        </div>
                        <div class="form__input">
                            <textarea required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form__card flex-cont justify-sb">
                    <div class="form__tips">
                        <span>Фотографии паспорта:</span>
                    </div>
                    <label for="file-first" id="img-first" class="file">
                        <input type="file" id="file-first" name="file" accept="image/*,image/jpeg">
                        <p class="file__text">Страница с фотографией</p>
                        <div class="btn btn_little-absol btn_little">
                            <div class="btn__text btn__text_little">Загрузить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                        <div id="btn-img-first" class="btn btn_little-absol btn_little btn_delete">
                            <div class="btn__text btn__text_little">Удалить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                    </label>
                    <label for="file-second" id="img-second" class="file">
                        <input type="file" id="file-second" name="secondfile" accept="image/*,image/jpeg">
                        <p class="file__text">Страница с пропиской</p>
                        <div class="btn btn_little-absol btn_little">
                            <div class="btn__text btn__text_little">Загрузить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                        <div id="btn-img-second" class="btn btn_little-absol btn_little btn_delete">
                            <div class="btn__text btn__text_little">Удалить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                    </label>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>ИНН (10 цифр):</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
                </div>
                <div class="form__card form__card_last flex-cont justify-c">
                    <label for="file-third" id="img-third" class="file">
                        <input type="file" id="file-third" name="thirdfile" accept="image/*,image/jpeg">
                        <p class="file__text">Фотография свидетельства</p>
                        <div class="btn btn_little-absol btn_little">
                            <div class="btn__text btn__text_little">Загрузить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                        <div id="btn-img-third" class="btn btn_little-absol btn_little btn_delete">
                            <div class="btn__text btn__text_little">Удалить</div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108" height="37" viewBox="0 0 108 37"><defs><path id="goifa" d="M635 696h100l4 37-108-4z"/></defs><g><g transform="translate(-631 -696)"><use fill="#ff9503" xlink:href="#goifa"/></g></g></svg>
                        </div>
                    </label>
                </div>
                <button type="submit" class="btn pos-absol">
                    <div class="btn__text">Дальше</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup reg-step-31">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Указать данные</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 3 из 3</span>
                </div>
                <div class="form__text">
                    <p>Призы доставляем курьерской службой в будние дни в рабочее время. Укажи адрес для доставки</p>
                </div>
                <div class="form__text red form__text--minMargin">
                    <p>Все поля обязательны для заполнения!</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Город</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Индекс</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Улица (если есть)</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
                </div>
                <div class="form__card form__card_third">
                    <div class="form__tips">
                        <span>Дом</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="file">
                    </div>
                </div>
                <div class="form__card form__card_third">
                    <div class="form__tips">
                        <span>Корпус</span>
                    </div>
                    <div class="form__input">
                        <input type="text">
                    </div>
                </div>
                <div class="form__card form__card_third">
                    <div class="form__tips">
                        <span>Квартира</span>
                    </div>
                    <div class="form__input">
                        <input type="text" required>
                    </div>
                </div>
                <button type="submit" class="btn pos-absol">
                    <div class="btn__text">Дальше</div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup check-moderation">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Спасибо!</span>
        </div>
        <div class="popup__text popup__text_marginTop">
            <span>Большое спасибо! Мы получили чек
            и проверяем его.</span>
        </div>
        <div class="popup__text popup__text_paddingBottom">
            <span>Подробнее о статусе проверки можно узнать </span>
            <a href="#" class="text">в Личном кабинете.</a>
        </div>
        <button class="btn pos-absol">
            <div class="btn__text">Завершить</div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
        </button>
    </div>
</div>
<div class="popup check-error">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Чек отклонен</span>
        </div>
        <div class="popup__text popup__text_marginTop">
            <span>К сожалению, этот чек уже был ранее загружен, попробуй загрузить еще один.
            </span>
        </div>
        <div class="popup__text popup__text_paddingBottom">
            <a href="#" class="text">Обратная связь > </a>
        </div>
        <button class="btn pos-absol">
            <div class="btn__text">Понятно</div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 268 80"><defs><path id="btn-bg" d="M441.2 182l-5.2 69.57L704 262l-6.94-80z"/></defs><g><g transform="translate(-436 -182)"><use fill="#ff9503" xlink:href="#btn-bg"/></g></g></svg>
        </button>
    </div>
</div>
<div class="popup check-download js-popup-show">
    <div class="popup__wrap popup__wrap_big">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Загрузка чека</span>
        </div>
        <div class="iframe-wrapper">
            <iframe id="iframe" src="https://tsenoanalizator.ru/receipt_frame/8caf9cdf-a333-df44-dfb0-970ca4f6208f/1189/ff9c518da59c421f45c510734d80bec3?style=https%3a%2f%2ftest4.airweb.studio%2fbarni%2fcss%2fiframe.css" class="iframe" frameborder="0"></iframe>
        </div>
    </div> 
</div>