// Body BG -----------------
body {
    position: relative;
    &.no-scroll {
        overflow: hidden !important;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

// Button ---------------------
.btn {
    font-size: 2rem;
    background: rgba(255, 255, 255, 0);
    position: relative;
    display: inline-block;
    font-family: $font;
    color: $color;
    height: 80px;
    padding: 0;
    &.pos-absol {
        position: absolute;
        bottom: -75px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }
    &.btn_little-absol {
        position: absolute;
        bottom: -20px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }
    &.btn_personal {
        height: auto;
        top: 5px;
        &:hover {
            color: #fff;
        }
        svg {
            width: 140px;
        }
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 12px;
        &_arr-right {
            white-space: nowrap;
            padding-right: 36px;
            font-size: 1.75rem;
            &:after {
                content: '';
                background: url("../img/arrow-right-red.svg");
                position: absolute;
                background-size: 26px 23px;
                right: 0;
                top: 42%;
                width: 26px;
                height: 23px;
                transform: translate(0, -50%);
            }
        }
        &_little {
            cursor: pointer;
            font-size: 18px;
            padding-bottom: 0;
            padding-top: 5px;
        }
    }
    &_min {
        height: auto;
    }
    svg {
        width: 260px;
        use {
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &:hover {
        svg {
            transotion: all .1s ease;
            use {
                fill: $color5;
            }
        }
        .btn__text_arr-right {
            &:after {
                background: url("../img/arrow-right-white.svg");
            }
        }
    }
    &.disable {
        pointer-events: none;
        svg {
            use {
                fill: #e1e1e1;
            }
        }
        .btn__text_arr-right {
            &:after {
                background: url("../img/arrow-right-white.svg");
            }
        }
    }
    &_delete {
        display: none;
    }
}

// Form ---------------------
.form {
    position: relative;
    z-index: 1;
    &--popupMargin {
        margin-top: 20px;
    }
    &__tips {
        color: $color3;
        font-size: 14px;
        margin-bottom: 2px;
        font-family: $font2;
        text-align: center;
        width: 100%;
    }
    &__text {
        margin-top: 20px;
        color: #4a4a4a;
        text-align: center;
        font-size: 14px;
        font-family: $font2;
        &--minMargin {
            margin-top: 10px;
        }
        &--noMargin {
            margin: 0;
        }
        &_big {
            .text {
                font-size: 1.2rem;
            }
        }
        &.red {
            color: $color5;
        }
    }
    &__card {
        margin-top: 20px;
        padding: 0 20px;

        &_last {
            padding: 0 20px 35px;
        }
        &_half {
            display: inline-block;
            width: 49%;
            padding: 0 15px;
            vertical-align: top;
        }
        &_third {
            width: 80px;
            display: inline-block;
            padding: 0 0 30px 0;
            vertical-align: top;
        } 
    }
    &__input {
        position: relative;
        .js-pass {
            position: absolute;
            width: 25px;
            height: 15px;
            background: url("../img/password-show.svg") no-repeat center / cover;
            top: 19px;
            right: 10px;
            cursor: pointer;
        }
        &_little {
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 14px;
                padding-right: 15px;
            }
        }
        &_winners {
            width: 27%;
            text-align: left;
            .select2-container {
                width: 140px !important;
            }
            .select2-container .select2-selection {
                border: none;
                font-family: $font;
                background: url("../img/border_for_select.svg") no-repeat center bottom;
            }
            .select2-selection__rendered {
                padding-right: 10px !important;
                color: $color5 !important;
            }
        }
    }
    &__step {
        color: $color5;
        text-align: center;
        font-size: 18px;
    }
    &__global {
        width: 45%;
    }
    .btn {
        font-size: 2rem;
        margin-top: 1rem;
    }
}

.textarea-feedback {
    width: 100%;
    height: 229px;
}

input,
textarea {
    border: 1px solid #acacac;
    background-color: #ffffff;
    color: #4a4a4a;
    text-align: center;
    font-size: 21px;
    font-family: $font2;
    padding: 12px 15px;
    width: 100%;
    border-radius: 0;
    &::placeholder {
        color: #363636;
    }
}

textarea {
    text-align: left;
    height: 100px;
    overflow: auto;
}

// Captcha -----------------
.captcha {
    margin: 20px -50px 0;
    padding: 15px 85px 40px;
    &__wrap {
        margin-top: 15px;
    }
    &__input {
        max-width: 120px;
        text-align: center;
        text-transform: uppercase;
        font-size: 21px;
        &::placeholder {
            color: #e1e1e1;
        }
    }
    &__img {
        height: 51px;
        background-color: #000;
    }
}

// Text ---------------------
.text {
    text-align: center;
    color: $color4;
    font-size: 1rem;
    font-family: $font2;
    &--minMargin {
        margin-top: 10px;
    }
    &__black {
        color: #363636;
    }
}

// Title ----------------------
.title {
    font-size: 36px;
    font-family: $font2;
    text-transform: uppercase;
    text-align: center;
}

// Table ----------------------
table {
    width: 100%;
    border-spacing: 15px;
}

thead th {
    text-align: center;
    color: $mainColor;
    font-size: 12px;
}

tbody td {
    text-align: center;
    color: #363636;
}

// Rules -----------------
.rules {
    margin-top: 35px;
    margin-bottom: 20px;
}

.rules-btn {
    display: none;
    background-image: url("../img/arrow-for-slider.png");
    top: 35%;
    right: 0;

    & + .rules-btn {
        transform: rotateZ(180deg);
        left: 0;
    }
}

.rules-swiper {
    width: 100%;
    position: relative;
    &_winners {
        max-width: 610px;
    }
}

.rules .container {
    text-align: center;
}

.rules .btn {
    margin: 2rem 0;
}

.rules__title {
    color: $color2;
    font-size: 2.5rem;
    margin: 1rem 0;
}

// Default Rules Slide ----------
.slide-rules {
    text-align: center;
    transition: all .2s linear;
    color: $color2;
    &__photo {
        display: flex;
        height: 190px;
        justify-content: center;
        align-items: center;
        &_winners {
            height: 165px;
            transform: scale(0.9);
        }
    }
    &__title {
        font-family: $font;
        font-size: 26px;
        text-transform: uppercase;
        margin-top: 10px;
        &_little {
            font-size: 16px;
            margin-top: 0;
        }

    }
    &__text {
        margin-top: 15px;
        padding: 0 5px;
        font-family: $font2;
    }
    &:hover {
        transform: scale(1.1);
    }
}

//Conditions Section 
.conditions {
    background: url("../img/bg-img-home.jpg") no-repeat center center fixed;
    background-size: cover;
}

.conditions__img {
    flex: 1 1 320px;
    margin-left: -19%;
    margin-right: -19%;
    z-index: 1;
    img {
        display: block;
    }
}

.conditions__info {
    flex: 1 1 320px;
    max-width: 550px;
    text-align: center;
}

.conditions__content {
    background: url("../img/conditions-content-bg.svg") no-repeat center center;
    height: 470px;
    position: relative;
    &:before {
        content: '';
        background: url("../img/conditions-ananas-1.png") no-repeat center center;
        width: 107px;
        height: 109px;
        position: absolute;
        right: -7%;
        top: 11%;
    }
    &:after {
        content: '';
        background: url("../img/conditions-ananas-2.png") no-repeat center center;
        width: 341px;
        height: 349px;
        position: absolute;
        right: -35%;
        bottom: -9%;
    }
}

.conditions__date {
    color: $color2;
    font-family: $font2;
}

.conditions__step {
    color: $color2;
    font-size: 1.85rem;
    text-align: left;
    li {
        position: relative;
        margin-bottom: 0.7rem;
        &:before {
            content: '';
            background: url("../img/li-numb.png") no-repeat center center;
            position: absolute;
            left: -44px;
            font-size: 25px;
            top: 0px;
            width: 30px;
            height: 35px;
            text-align: center;
            color: white;
        }
        &:nth-child(1) {
            &::before {
                content: '1';
            }
            margin-left: 18%;
        }
        &:nth-child(2) {
            &::before {
                content: '2';
            }
            margin-left: 25%;
        }
        &:nth-child(3) {
            &::before {
                content: '3';
            }
            margin-left: 33%;
        }
    }
}

.condition-text {
    font-size: 40px;
}

.conditions__more-btn {
    font-family: $font2;
    img {
        margin-top: 9px;
    }
}

.container-info {
    color: #acacac;
    font-family: Roboto;
    font-size: 12px;
    margin-top: 40px;

    &__text {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    &_feedback {
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 0 100px;

        a {
            color: $color4;
            cursor: pointer;
        }
    }
}

.info-text-up {
    text-transform: uppercase;
}

// Feedback-------------------
.feedback {
    @extend .conditions;
    min-height: 779px;
    position: relative;
    height: 100%;
    &:before {
        content: "";
        position: absolute;
        bottom: -22%;
        left: 0;
        width: 512px;
        height: 696px;
        background: url("../img/pulpy-bottle1.png") no-repeat center center;
    }
    &:after {
        content: "";
        position: absolute;
        top: 5%;
        right: -2%;
        width: 401px;
        height: 709px;
        background: url("../img/pulpy-bottle2.png") no-repeat center center;
    }
}
.container_feedback {
    margin: 115px auto;
}
.substrate {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    &:before {
        content: "";
        height: 55px;
        background-color: #fff;
        left: 0;
        right: 0;
        top: -30px;
        position: absolute;
        transform: skewY(-2deg);
    }
    &:after {
        content: "";
        height: 55px;
        background-color: #fff;
        bottom: -30px;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(3deg);
    }

    &__title {
        @extend .rules__title;
    }
}

// Winners-----------------
.winners {
    @extend .feedback;
    min-height: 930px;
    &:before {
        bottom: 0;
    }
    &__table {
        margin-bottom: 40px;
        font-family: $font2;
        height: 250px;
        color: #363636;
        tr {
            line-height: 30px;
        }
    }
}
.container_winners {
    @extend .container_feedback;
}
.rules-wrap {
    margin-bottom: 30px;
    justify-content: center;
}
.rules-item {
    width: 32%;
}
.scrollbar-light>.scroll-element.scroll-y .scroll-element_outer {
    width: 8px;
}
.scrollbar-light>.scroll-element .scroll-element_outer {
    border-radius: 0;
}
.scrollbar-light>.scroll-element div {
    overflow: visible;
}
.scrollbar-light>.scroll-element.scroll-y .scroll-element_size {
    left: 1px;
}
.scrollbar-light>.scroll-element .scroll-element_size {
    background: #eeeeee;
    border-radius: 0;
}
.scrollbar-light>.scroll-element .scroll-bar {
    background: $color4;
    background:linear-gradient(45deg, transparent 15px,$color4 0);
    border-radius: 0;
    border: none;
}

// Personal-area-------------------
.personal-heading {
    @extend .winners;
    flex-direction: column;
}
.start-heading {
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
    max-width: 780px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    &__name {
        font-size: 28px;
        letter-spacing: 1.12px;
        margin-bottom: 14px;
        padding-left: 90px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 70px;
            height: 70px;
            background: url("../img/Avatar.png");
        }
    }
    &__edit {
        padding-left: 90px;
        font-family: $font2;
    }
}
.personal-info {
    margin-bottom: 100px;
}
.info-edit {
    margin-right: 35px;
}

.icon-edit-icon {
    margin-right: 10px;
}

.personal-check-wrap {
    max-width: 515px;
    width: 100%;
    margin: 50px auto;
    font-family: $font2;
    color: #363636;
}
.check-data {
    margin-bottom: 30px;
    &__info-check {
        width: 35%;
    }
    &__arrow {
        width: 25%;
    }
    &__result {
        width: 40%;
        text-align: left;
    }
}
.info-check-wrapp {
    &__result {
        &_err {
            padding-right: 30px;
            position: relative;
            color: $color5;
            a {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                background-color: $color5;
                border-radius: 50%;
                text-align: center;
                color: #fff;
            }
        }
    }
}
.info-check-wrapp {
    text-align: left;
    margin-left: 10px;
}
.btn_personal_text {
    width: 100%;
    text-align: center;
    font-size: 16px;
}


// Download---------------
.file {
    display: flex;
    width: 120px;
    height: 100px;
    border: 1px solid $color4;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
    width: 46%;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    input {
        position: absolute;
        top: 0;
        visibility: hidden;
    }
    div {
        height: 42px;
    }
    &__text {
        color: $color4;
        font-family: $font2;
        font-size: 14px;
        margin-bottom: 15px;
    }
    svg {
        width: 108px;
    }
    span {
        position: absolute;
        bottom: -58px;
    }
}

.file__text_none {
    opacity: 0;
}

.iframe-wrapper {
    height: 60vh;
    min-height: 250px;
    width: 340px;
}

#iframe {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}