// Select ------------
body>.select2-container {
    width: auto !important;
}

.select2-container {
    width: 100% !important;
    outline: none;
    z-index: 99999;
    & * {
        outline: none;
    }
    .select2-selection {
        height: 51px;
        display: flex;
        align-items: center;
        border: 1px solid #acacac;
        text-align: center;
        display: inline-block;
        width: 100%;
        background-color: #ffffff;
        color: #4a4a4a;
        font-size: 21px;
        font-family: "Roboto";
        padding: 12px 15px;
        border-radius: 0;
    }
    .select2-selection__rendered {
        padding-left: 0 !important;
    }
    .select2-selection__arrow b {
        display: none;
    }
    .select2-selection__arrow {
        height: 100% !important;
        width: 38px !important;
        &::before {
            border: none;
            background: url('../img/arrow-for-select.svg') no-repeat center / cover;
            width: 11px;
            height: 6px;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .select2-dropdown {
        border: 1px solid #acacac;
        &_active {
            border: 1px solid $color4;
            border-radius: 0;
            margin-top: 3px;
            .select2-results__option {
                font-family: $font;
                color: $color5;
                font-size: 21px;
            }
            .select2-results__option--highlighted[aria-selected] {
                background-color: #fff;
                color: $color4 !important;
            }
            .select2-results__option[aria-selected=true] {
                background-color: #fff !important;
            }
        }
    }
    .select2-results__option {
        color: #4a4a4a;
        font-family: $font2;
    }
}

.your-info-1 {
    .select2-container {
        .select2-selection {
            width: 80px;
        }
        .select2-selection__arrow {
            width: 20px !important;
        }
    }
}

.reg-step-21 {
    .select2-container {
        .select2-selection {
            width: 80px;
        }
        .select2-selection__arrow {
            width: 20px !important;
        }
    }
}

// Checkbox ------------
.checkbox {
    position: relative;
    padding: 7px 0;
    display: block;
    text-align: left;
    display: flex;
    flex-direction: column;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__text {
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        color: #363636;
        font-size: 14px;
        font-family: $font2;
        order: -1;
        a {
            color: #ff9503;
        }
        &::before {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            border: 1px solid #acacac;
            left: 0;
            top: -4px;
        }
    }
}
.checkbox input:checked + .checkbox__text:after {
    position: absolute;
    content: '';
    background: url("../img/checked.svg") no-repeat center / cover;
    width: 13px;
    height: 12px;
    left: 4px;
    top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
    position: absolute;
    content: '';
    background: url("../img/checked.svg") no-repeat center / cover;
    width: 13px;
    height: 12px;
    left: 4px;
    top: 0;
}