.container {
    width: 100%;
    padding: 0 15px;
    max-width: 970px;
    margin: 0 auto;
}

.flex-cont {
    display: flex;
    flex-wrap: wrap;
}

.justify-sb {
    justify-content: space-between;
}

.justify-sa {
    justify-content: space-around;
}

.flex-d-column {
    flex-direction: column;
}

.flex-d-column-rev {
    flex-direction: column-reverse;
}

.justify-c {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.icon {
    display: inline-block;
}