@font-face {
    font-family: 'Firenight';
    src: url('../fonts/Firenight-Regular.eot');
    src: url('../fonts/Firenight-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Firenight-Regular.woff2') format('woff2'), url('../fonts/Firenight-Regular.woff') format('woff'), url('../fonts/Firenight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?m4ow0i');
  src:  url('../fonts/icomoon/icomoon.eot?m4ow0i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?m4ow0i') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?m4ow0i') format('woff'),
    url('../fonts/icomoon/icomoon.svg?m4ow0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-area:before {
  content: "\e903";
  color: #e1e1e1;
}
.icon-edit-icon:before {
  content: "\e904";
  color: #fff;
}
.icon-vk:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e902";
}
