.footer {
  background-color: $color2;
  padding: 20px 0 25px;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    color: $color;
    justify-content: center;

    li {
      position: relative;
      font-family: $font2;
      font-size: 14px;

      & + li {
        margin-left: 30px;
      }
    }
  }
  &__social {
    margin-top: 20px;
    text-align: center;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: $color;
      border-radius: 50%;
      position: relative;
      span {
        color: $color2;
        font-size: 21px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      & + a {
        margin-left: 10px;
      }
    }
  }
}