.header {
    background-color: $headerBg;
    padding: 27px 0;
    position: relative;
    z-index: 3;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.menu-wrap {
    align-items: center;
    justify-content: space-between;
    width: 82%;
    &__close {
        display: none;
        justify-content: flex-end;
        margin: 20px;
    }
    &__nav {
        display: flex;
        margin-left: 40px;
    }
}

.close-menu {
    width: 18px;
    height: 18px;
    position: relative;
    cursor: pointer;
    &__line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        right: 0;
        width: 18px;
        height: 4px;
        background-color: #fff;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 4px;
            background-color: #fff;
            transform: rotate(-90deg);
        }
    }
}
.nav-link {
    font-weight: 500;
    transition: all .1s linear;
    color: $headerLink;
    &+.nav-link {
        margin-left: 40px;
    }
    &:hover {
        color: $headerLinkHover;
    }
    &_active {
        color: $color2;
    }
}

.personal-area {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
    &__text {
        font-weight: bold;
        color: $headerLink;
        &:hover {
            color: $headerLinkHover;
        }
    }
}

.logo {
    &_center {
        margin: -14px 30px;
        img {
            margin-bottom: -105px;
        }
    }
    &_mob {
        display: none;
        flex-grow: 1;
    }
}

.mob-menu {
    display: none;
    width: 20px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin-left: 25px;
    &__line {
        height: 4px;
        background-color: $color5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        &:before,
        &:after {
            content: "";
            position: absolute;
            transform: translateY(-7px);
            top: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: $color5;
        }
        &:after {
            transform: translateY(7px);
        }
    }
}
