@media only screen and (max-width: 992px) {
    // Header---------------------
    .menu-wrap {
        justify-content: space-around;
        &__nav {
            margin-left: 5px;
        }
    }
    .nav-link {
        &+.nav-link {
            margin-left: 12px;
        }
    }
    .logo {
        &_center {
            margin: -14px 0 -14px 0;
        }
        & img {
            margin-bottom: -100px;
            margin-left: -10px;
        }
    }
    .personal-area {
        margin-left: 0;
    }
    //Conditions Section ------------
    .conditions_container {
        align-items: flex-end;
    }
    .conditions__img {
        margin-left: -30%;
    }
    .conditions__info {
        margin: 50px 0;
        z-index: 1;
    }
    .conditions__content {
       &:after {
            display: none;
       } 
       &:before {
            right: 0%;
       }
    }
    // Feedback-------------------
    .feedback {
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }
    // Personal-area-------------------
    .start-heading {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    // Header---------------------
    .header {
        padding: 20px 0;
    }
    .bg-opacity {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
    .bg-opacity_active {
        display: block;
    }
    .menu-wrap {
        background-color: $color5;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        transform: translateX(101%);
        transition: all .3s ease;
        flex-direction: column;
        width: auto;
        align-items: stretch;
        &__close {
            display: flex;
        }
        &__logo {
            order: 1;
            background-color: #fff;
            padding: 25px 25px 30px;
        }
        &__nav {
            flex-direction: column;
            margin-left: 0;
            padding: 10px 0;
            .logo {
                display: none;
            }
        }
    }
    .menu-wrap_active {
        transform: translateX(0%);
    }
    .nav-link {
        color: #fff;
        padding: 12px 25px;
        font-size: 24px;
        letter-spacing: .96px;
        margin-bottom: 15px;
        &+.nav-link {
            margin-left: 0;
        }
        &:hover {
            background-color: $color4;
            color: #fff;
        }
    }
    .logo_mob {
        display: block;
        & img {
            margin-bottom: -95px;
            margin-left: 0;
        }
    }
    .mob-menu {
        display: block;
    }
     //Conditions Section ------------
    .conditions_container {
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .conditions__img {
        margin-left: 0%;
        margin-right: 0%;
        position: absolute;
        top: -75px;
        left: 5%;
        flex: 0 0 auto;
        width: 100%;
    }
    .conditions__info {
        margin: 270px 0 30px;
        width: 100%;
        flex: 0 0 auto;
    }
    .conditions__content {
       &:before {
            display: none;
       }
    }
    .conditions__step {
        font-size: 1.7rem;
    }
    .condition-text {
        font-size: 35px;
    }
    // Rules -----------------------
    .rules-item_index {
        width: 50%;
        &:last-child {
            margin-top: 25px;
        }
    }
    // Rules Slider--------------------
    .rules-btn {
        display: block;
    }
    .rules-swiper_winners {
        max-width: 405px;
    }
    .swiper-wrapper{
        justify-content: flex-start;
    }
    .slide-rules_winners {
        width: 100%;
        max-width: 225px;
        margin: 0 auto;
    }
    // Footer
    .footer__nav {
        flex-direction: column;
        align-items: center;
        li {
            margin-bottom: 25px;
            & + li {
                margin-left: 0;
            } 
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
     // Feedback-------------------
    .form_feedback {
        flex-direction: column;
        align-items: center;
    }
    .form__global_feedback {
        width: 100%;
    }
    .container-info_feedback {
        padding: 0;
    }
    // Winners ----------------
    .winners {
        min-height: 900px;
        &__table {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 190px;
            table {
                font-size: 12px;
            }   
        }
        .table--padding {
            border-spacing: 4px;
            margin-top: -4px;
        }
    }
     // Personal-area-------------------
    .check-data__info-check {
        width: 43%;
    }
    .check-data__arrow {
        width: 10%;
    }
    .check-data__result {
        text-align: center;
    }
    .start-heading {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 480px) {
     // Header---------------------
     .logo {
        width: 30%;
        margin-right: 10px;
        & img {
            margin-bottom: -75px;
            margin-left: -10px;
        }
    }
    //Conditions Section ------------
    .conditions_container {
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 0;
    }
    .conditions__img {
        left: 22%;
        top: -65px;
        margin-left: -30%;
    }
    .conditions__info {
        margin: 175px 0 30px;
    }
    .conditions__content {
        background: url("../img/conditions-content-bg-mob.svg") no-repeat center center;
        height: 370px;
    }
    .conditions__title {
        width: 65%;
        margin: 10px auto;
    }
    .conditions__step {
        font-size: 1.1rem;
        li {
            &:nth-child(1) {
                margin-left: 23%;
            }
            &:nth-child(2) {
                margin-left: 28%;
            }
            &:nth-child(3) {
                margin-left: 34%;
            }
        }
    }
    .condition-text {
        font-size: 26px;
    }
    .conditions__more-btn {
        margin-top: 15px;
    }
    // Rules -----------------------
    .rules-wrap_index {
        flex-direction: column;
        align-items: center;
    }
    .rules-item_index {
        width: 100%;
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
    }
    .rules__title {
        font-size: 2rem;
    }
    // Popups--------------
    .popup__wrap {
        max-width: 300px;
    }
    .popup__close {
        top: -50px;
        right: 50%;
        margin-right: -11px;
    }
    .form__card {
        padding-left: 0;
        padding-right: 0;
    }
    .captcha {
        padding: 15px 50px 40px;
    }
    .iframe-wrapper {
        width: 290px;
    }
    .popup__wrap_big {
        padding-left: 0;
        padding-right: 0;
    }
    // Feedback-------------------
    .feedback {
        .container {
            padding: 0;
        }
    }
    .form_feedback {
        padding: 0 15px;
    }
    .container-info_feedback {
        padding: 0 15px;
    }
    // Winners ----------------
    .winners {
        &__table {
            height: 220px;
            .table {
                tr {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                    font-size: 16px;
                    line-height: normal;

                    & + tr {
                        margin-top: 20px;
                    }
                }
                td {
                    display: block;
                }
                .win-prize {
                    position: absolute;
                    right: 5px;
                    top: 0;
                    text-align: left;
                    max-width: 102px;
                }
            }
        }
    }
    .popup__title_winners {
        margin-right: 10px;
    }
    .form__input_winners {
        width: auto;
    }
    // Personal-area-------------------
    .check-data__info-check {
        width: 42%;
        align-items: flex-start;
        flex-direction: column;
    }
    .check-data__arrow {
        width: 10%;
    }
    .check-data__result {
        width: 45%;
    }
    .info-check-wrapp {
        margin-left: 0;
    }
    .personal-heading {
        .start-heading {
            padding: 0 15px;
        }
    }
    .start-heading {
        margin-top: 90px;
        &__name {
            width: 85%;
            margin-bottom: 25px;
        }
        &__edit {
            padding: 0;
        }
    }
    
}
