// Cookies -----------
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $cookieBg;
    padding: 25px 0 20px;
    text-align: center;
    transition: all .2s linear;
    opacity: 0;
    z-index: -1;
    &__text {
        margin: 0 auto 10px;
        width: 76%;
        font-size: 14px;
    }
    &.js-show {
        opacity: 1;
        z-index: 99;
    }
}

// Popup -------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: all .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__close {
        position: absolute;
        top: -20px;
        right: -30px;
        width: 23px;
        height: 23px;
        cursor: pointer;
    }
    &__wrap {
        background-color: #fff;
        max-width: 340px;
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 120px;
        left: 50%;
        margin-bottom: 100px;
        transform: translateX(-50%);
        text-align: center;
        &:before {
            content: "";
            height: 35px;
            background-color: #fff;
            left: 0;
            right: 0;
            top: -15px;
            position: absolute;
            transform: skewY(-3deg);
        }
        &:after {
            content: "";
            height: 35px;
            background-color: #fff;
            bottom: -15px;
            left: 0;
            position: absolute;
            right: 0;
            transform: skewY(4deg);
        }
        &_big {
            max-width: 375px;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 24px;
        color: $color5;
        &_winners {
            align-self: center;
            margin-right: 16px;
            font-size: 21px;
        }
    }
    &__text {
        color: #363636;
        font-family: $font2;
        &_marginTop {
            margin-top: 30px;
            margin-bottom: 25px; 
        }
        &_paddingBottom {
            padding-bottom: 30px;
        }
        & + .btn.pos-absol {
            bottom: -60px;
        }
    }
}

// Show
.js-popup-show {
    z-index: 99999;
    opacity: 1;
    transform: scale(1);
}

// Error Validate
span div.error {
  color: #ed1846;
  font-size: 11px;
  margin-top: 3px;
  font-family: $font2;
}