/*STYLE RESET START*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $color;
    font: $fontWeight $fontSize $font, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.height-helper {
    overflow: hidden;
}


/*STYLE RESET END*/