// Reset ---------------
$font: 'Firenight', sans-serif;
$font2: 'Roboto', sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$color: #fff;
$color2: #2faae1;
$color3: #acacac;
$color4: #ff9503;
$color5: #ff5600;
$bgColor: #14bef0;
// Color ---------------
$mainColor: #14bef0;
$purpleColor: #46248a;
// Header -------------
$headerBg: #fff;
$headerLink: #ff3b00;
$headerLinkHover:#2faae1;
// Cookies ----------
$cookieBg: #0e4da1;
// Button -----------
$btnDefBg: #ed1846;
$btnMinBg: #0daad8;