@import "var";

@font-face {
    font-family: 'Firenight';
    src: url('http://test4.airweb.studio/barni/fonts/Firenight-Regular.eot');
    src: url('http://test4.airweb.studio/barni/fonts/Firenight-Regular.eot?#iefix') format('embedded-opentype'),
    url('http://test4.airweb.studio/barni/fonts/Firenight-Regular.woff2') format('woff2'), 
    url('http://test4.airweb.studio/barni/fonts/Firenight-Regular.woff') format('woff'), 
    url('http://test4.airweb.studio/barni/fonts/Firenight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.eot');
  src: url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.woff2') format('woff2'),
  url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.woff') format('woff'),
  url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.ttf') format('truetype'),
  url('http://test4.airweb.studio/barni/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  padding: 0 .5em;
  margin-bottom: 20px;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;
}

.upload {
  h2 {
    display: none;
  }

  .receipt-photo {
    margin-top: 10px;
    text-align: center;
  }

  .upload-main {
    order: 1;
  }

  .choose-file {
    margin: 0 auto;
    text-align: center;
    color: $color4;
    font-family: 'Firenight';
    font-size: 21px;
    background-color: #fff;
    border-color: #fff;
    position: relative;

    input {
      visibility: hidden;
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: url("../img/plus-svg.svg") no-repeat;
    }
  }
}

#image-list {
  margin-bottom: 20px;
  .btn-danger {
    color: rgba(255, 255, 255, 0);
    font-size: 0px;
    padding: 20px;
    background-color: rgba(201, 48, 44, 0);
    border-color: rgba(172, 41, 37, 0);
  }
  .btn-danger:hover {
    background-color: rgba(201, 48, 44, 0);
    border-color: rgba(172, 41, 37, 0);
  }
  .delete-photo {
    margin: .1em;
    &:after {
      content: "";
      position: absolute;
      top: -2px;
      left: -1px;
      background: url("../img/Rectangle_little.svg") no-repeat;
      width: 40px;
      height: 43px;
      cursor: pointer;
    }
    &:before {
      color: rgba(255, 255, 255, 0);
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 1;
      background: url("../img/close-popup.svg") no-repeat;
      width: 23px;
      height: 23px;
      cursor: pointer;
    }
  }
}

#upload {
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../img/btn-bg.svg") no-repeat center;
  color: #ffffff;
  background-color: #fff !important;
  font-size: 24px;
  font-family: 'Firenight';
  width: 275px;
  height: 85px;
  border: none;
  margin-top: 30px !important;
  padding: 0;
  outline: none;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
}

.btn-lg {
  padding: 0;
  border-radius: none;
}

.tutorial {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;

  h1 {
    display: none;
  }

  p {
    color: #363636;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 25px;
    padding-left: 30px;
  }

  .simple-photo-block {
    text-align: center;

    img {
      max-height: auto;
      max-width: 100%;
    }
  }

  .btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    background: url("../img/btn-bg.svg") no-repeat center;
    color: #ffffff;
    background-color: #fff !important;
    font-size: 24px;
    font-family: 'Firenight';
    width: 275px;
    height: 85px;
    border: none;
    margin-top: 30px !important;
    outline: none;
    padding: 0;
  }
}

.mt-3 {
  display: none;
}

@media (max-width: 480px) {
  .upload {
    .choose-file {
      font-size: 18px;
    }
    #upload {
      width: 250px;
      font-size: 21px;
    }
  }
   
  .tutorial {
    .btn {
      width: 250px;
      font-size: 21px;
    }
  }
}